@media screen and (max-width: 480px) {
  img {
    max-width: 100%; /* A imagem ocupará 100% da largura do contêiner em telas menores */
  }

  .layout_2 figcaption {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 4vw;
    font-family: Verdana, sans-serif;
  }
  
  .layout_2 figcaption .text-wrapper {
    display: block;
  }
  
  .layout_2 figcaption .line {
    display: block;
  }
  
  .layout_2 figcaption .letters {
    display: block;
  }

  .navbar-collapse.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Branco transparente */
    z-index: 1000;
    overflow-y: auto;
  }

  .navbar-collapse.show .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse.show .navbar-nav .nav-item {
    display: block;
    margin-top: 100px;
  }

  strong{
    color: green;
  }

  .layout_2 img {
    width: 150px;
  }

  .layout_2 img {
    height: 360px;
    width: auto;
  }

  /*BOTAO SAIBA MAIS*/
  .learn-more-button {
    background-color: transparent;
    border: 1.04vw solid white; /* 5px em relação a 480px de largura de tela */
    color: white;
    padding: 3.12vw 6.67vw; /* 15px e 32px em relação a 480px de largura de tela */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6.25vw; /* 30px em relação a 480px de largura de tela */
    margin: 0.83vw 1.67vw; /* 4px e 2px em relação a 480px de largura de tela */
    cursor: pointer;
    border-radius: 9.38vw; /* 45px em relação a 480px de largura de tela */
    position: absolute; 
    top: 152%; /* 150% em relação a 480px de largura de tela */
    left: 50%; 
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

  /*CORPO PRINCIPAL DO SITE*/
  .quotes-container-1 h1{
    padding-top: 40vw;
    padding-left: 5vw;
  }

  .quotes-container-1 p{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 3vw;
    text-align: justify;
  }

  .container-contribuir p{
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 3vw;
    text-align: justify;
  }

  /*contador*/
  .areas-atuacao{
    position: absolute;
    width: 99vw; /* Ajuste a largura conforme necessário */
    height: 200vw; /* Ajuste a altura conforme necessário */
    background-color: #6c3c0c;
    box-shadow: 5px 5px 15px rgb(0, 0, 0), 5px 5px 15px rgb(0, 0, 0);        
  }

  /*PRIMEIRO CONTADOR*/

  .square {
    position: absolute;
    top: 80vw; /* Ajuste a posição vertical do quadrado conforme necessário */
    left: 5vw; /* Ajuste a posição horizontal do quadrado conforme necessário */
    width: 400px; /* Ajuste a largura do quadrado conforme necessário */
    height: 300px; /* Ajuste a altura do quadrado conforme necessário */
    background-color: #0f4343; /* Cor de fundo do quadrado */
    border: 10px solid #000; /* Borda do quadrado */
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
  }

  .primeiro-contador span {
    color: #fff;
    padding-top: 10px;
    padding-left: 18vw;
    font-size: 20vw;
  }
  
  .square p{
    padding-left: 100px;
    color: #fff;
    border-top: 1px solid #fff;
    font-size: 19px;
  }
  
  .primeiro-contador i {
    color: #fff;
    font-size: 15vw;
  }

  /*segundo contador*/

  .segundo-square {
    position: absolute;
    top: 5vw; /* Ajuste a posição vertical do quadrado conforme necessário */
    left: 5vw; /* Ajuste a posição horizontal do quadrado conforme necessário */
    width: 400px; /* Ajuste a largura do quadrado conforme necessário */
    height: 300px; /* Ajuste a altura do quadrado conforme necessário */
    background-color: #0f4343; /* Cor de fundo do quadrado */
    border: 10px solid #000; /* Borda do quadrado */
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
  }

  .segundo-contador span {
    color: #fff;
    padding-top: 10px;
    padding-left: 18vw;
    font-size: 20vw;
  }
  
  .segundo-square p{
    padding-left: 100px;
    color: #fff;
    border-top: 1px solid #fff;
    font-size: 19px;
  }
  
  .segundo-contador i {
    color: #fff;
    font-size: 15vw;
  }


  /*TERCEIRO CONTADOR*/

  .terceiro-square {
    position: absolute;
    top: 150vw; /* Ajuste a posição vertical do quadrado conforme necessário */
    left: 5vw; /* Ajuste a posição horizontal do quadrado conforme necessário */
    width: 400px; /* Ajuste a largura do quadrado conforme necessário */
    height: 300px; /* Ajuste a altura do quadrado conforme necessário */
    background-color: #0f4343; /* Cor de fundo do quadrado */
    border: 10px solid #000; /* Borda do quadrado */
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
  }

  .terceiro-contador span {
    color: #fff;
    padding-top: 10px;
    padding-left: 18vw;
    font-size: 20vw;
  }
  
  .terceiro-square p{
    padding-left: 100px;
    color: #fff;
    border-top: 1px solid #fff;
    font-size: 19px;
  }
  
  .terceiro-contador i {
    color: #fff;
    font-size: 15vw;
  }

  /*BLOG*/

  .container-blog{
    padding-top: 250vw;
    padding-left: 7vw;
    padding-right: 7vw;
  }

  /*RODAPE*/

  .social-icons {
    display: flex;
    gap: 1vw; /* Utilizando uma unidade de medida relativa para o espaçamento entre os ícones */
    justify-content: center; /* Centralizando os ícones horizontalmente */
    position: absolute;
    bottom: 20vw; /* Movendo os ícones um pouco acima da linha */
    right: 41vw; /* Utilizando uma unidade de medida relativa para a posição direita */
  }

  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw; /* Utilizando uma unidade de medida relativa para o tamanho dos ícones */
    height: 5vw;
    border-radius: 50%; /* Tornando-o um círculo */
    text-decoration: none;
    color: white;
  }

  .footer-left strong{
    color: #fff;
  }

  .footer-left{
    font-size: 1.8vw;
  }

  .footer-right{
    font-size: 1.8vw;
  }
}